@tailwind base;
@tailwind components;
@tailwind utilities;

.div-img-1{
    background-image: url('../public/assets/img-1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10px 100px;
}

.div-img-4{
    background-image: url('../public/assets/img-4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10px 100px;
}

.div-img-3{
    background-image: url('../public/assets/img-3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10px 100px;
}

.div-img-2{
    background-image: url('../public/assets/img-2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10px 100px;
}